# Node.js
out
node_modules
media/codicons

# VS Code
.vscode-test/
.vscode-test-web/
*.vsix

# Project files (Krita, Inkscape, etc.)
/project-files

# Python venv for Tony
.venv

# build output
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
test-results/**

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Coverage
/*coverage
/coverage-web/*
/coverage-desktop/*

# Local Playwright browser cache if needed for local web tests, in non-default location
.playwright-browsers
