.*/**
playground/**
.gitignore
eslint.config.mjs
tsconfig.json
tsconfig.web.json
src/
node_modules/
*.vsix

# Project files
project-files/

# Build files
esbuild.{m,c,}js
esbuild-configs/

# Krita
*.kra
*.*~

# Inkscape
*.svg

# Tony
.venv
tony/

# Docs
docs/**
!docs/public/*.gif
!docs/public/*.png