.*/**
playground/**
.gitignore
eslint.config.mjs
tsconfig.json
**/tsconfig.*.json
src/
node_modules/
*.vsix

# Project files
project-files/

# Build files
esbuild.{m,c,}js
esbuild-configs/

# Other meta scripts
sort-enums.ts

# Krita
*.kra
*.*~

# Inkscape
*.svg

# Tony
.venv
tony/
