body {
    margin-bottom: 20px;
    margin-top: 5px;
}

.webview-header {
    position: sticky;
    top: 0;
    background-color: var(--vscode-sideBar-background);
    border-bottom: 1px solid var(--vscode-menu-border);
    padding-bottom: 5px;
}

summary {
    cursor: pointer;
}

summary .codicon {
    color: var(--vscode-notificationsInfoIcon-foreground);
}

summary i {
    vertical-align: middle;
    margin-right: 4px;
}

summary span {
    vertical-align: middle;
}

.disabled {
    color: var(--vscode-disabledForeground);
}

.current-context {
    font-weight: bold;
}

.not-current-context {
    cursor: pointer;
}

.actions-header {
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
}

.actions-header-label {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    flex-shrink: 1;
}

.permission-level-letter {
    width: 20px;
    text-align: center;
}

.actions-list {
    white-space: nowrap;
}

.category-header {
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
}

.category-label {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    flex-shrink: 1;
}

.action-entry {
    margin-left: 10px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
}

.action-label {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    flex-shrink: 1;
}

.modified-externally {
    font-style: italic;
}

/* .modified-in-current-context {
    font-weight: bold;
} */

.unregistered-action {
    color: var(--vscode-disabledForeground);
}

.permission-level-radio {
    display: flex;
    gap: 1px;
    position: relative;

    background-color: var(--vscode-editor-background);
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
}
.permission-level-radio label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    color: var(--vscode-disabledForeground);
    transition: color 200ms ease;
    cursor: pointer;
    z-index: 2;
}

.permission-level-radio label[data-permission-level="2"] {
    --selected-color: var(--vscode-notebookStatusSuccessIcon-foreground);
}
.permission-level-radio label[data-permission-level="1"] {
    --selected-color: var(--vscode-textLink-foreground);
}
.permission-level-radio label[data-permission-level="0"] {
    --selected-color: var(--vscode-notebookStatusErrorIcon-foreground);
}
.permission-level-radio label:has(input:checked) {
    color: var(--selected-color);
    cursor: initial;
}

.permission-level-radio input {
    display: none;
}
.permission-level-radio::before {
    content: '';
    background-color: var(--vscode-checkbox-background);
    border: 1px solid var(--vscode-checkbox-border);
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    transition: left 150ms ease, width 150ms ease, opacity 150ms ease;
    width: 62px;
    opacity: 0;
    border-radius: 4px;
}

.permission-level-radio:has(input:checked)::before {
    opacity: 1;
    width: 20px;
}
.permission-level-radio:has(input[value="2"]:checked)::before {
    left: 0px;
}
.permission-level-radio:has(input[value="1"]:checked)::before {
    left: 21px;
}
.permission-level-radio:has(input[value="0"]:checked)::before {
    left: 42px;
}