body {
    margin-bottom: 20px;
    margin-top: 5px;
}

summary {
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
}

.disabled {
    color: var(--vscode-disabledForeground);
}

.current-context {
    font-weight: bold;
}

.not-current-context {
    cursor: pointer;
}

.actions-header {
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.permission-level-letter {
    width: 20px;
    text-align: center;
    /* border: 1px solid red; */
}

.actions-list {
    white-space: nowrap;
}

.category-header {
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
}

.category-label {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    flex-shrink: 1;
}

.action-entry {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.action-label {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    flex-shrink: 1;
}

.modified-externally {
    font-style: italic;
}

/* .modified-in-current-context {
    font-weight: bold;
} */

.unregistered-action {
    color: var(--vscode-disabledForeground);
}

.permission-radio-container {
    display: flex;
    align-items: center;
    width: 20px;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
