.twinpilot {
    scale: 2;
    transform-origin: top left;
}

.twinpilot #ahoge {
    /* animation: test 1s infinite alternate; */
    scale: -1 1;
    transition: 0.5s;
}

.twinpilot:hover #ahoge {
    scale: 1 1;
    transition: 0.5s;
}

.twinpilot #angry {
    transform: translate(0, -2px);
    transition: 0.5s;
}

.twinpilot:hover #angry {
    transform: translate(0, 0);
    transition: 0.5s;
}

.twinpilot #heartbreak {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 1000;
    transition: 0.5s;
}

.twinpilot:hover #heartbreak {
    stroke-dashoffset: 993;
    transition: 0.5s;
}
